<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{!-- <h1>This is the {{title}} Page</h1>
    <h2>My name is {{name}}</h2> --}}
    <div class="container">
        <nav>
            <img class="usrPic" src="/img/logo.jpg" alt="logo">
            <div class="usrDetails">
                <h1>David</h1>
                <h1>Bell</h1>
                <span>Instructor</span>
            </div>
            <div class="home">
                <ion-icon name="school"></ion-icon>
            </div>
            <div class="projects">
                <ion-icon name="briefcase"></ion-icon>
            </div>
            <div class="contact">
                <ion-icon name="mail"></ion-icon>
            </div>
        </nav>
    </div>
   <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>